<?xml version='1.0' encoding='utf-8'?>
<widget id="com.DT080BProject" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IoT Cordova</name>
    <description>
       App:	IoT Cordova Project 
       Course: DT080B/4
       Authors: Karl Bermingham, Stuart Morrissey
       Original Template provided by OnsenIO
    </description>
    <content src="index.html" />
    <access origin="*" />
</widget>
